* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin: auto;
  background: #f7f7f7;
}

.table {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: auto;
  grid-gap: 20px;
  margin: auto;
  justify-content: center;
  padding-bottom: 40px;
}

.header {
  padding-top: 30px;
}


.contact {
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
  background: white;
  cursor: pointer;

}

.data {
  display: grid;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 15px 15px;
}

.data * {
  margin: -20px 0;
}

img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

h1 {
  font-size: 16px;
  text-transform: uppercase;
  color: #5b5b5b;
}

p {
  color: grey;
  font-size: 11px;
}

h2 {
  color: #3d3d3d;
  font-size: 16px;
}

/***************************** Overlay view ***********************************/

.overlay {
  background-color: rgba(0,0,0,.4);
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

.contact__showed {
  margin: 80px auto;
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px 30px;
  z-index: 1000;
  border-radius: 5px;
  border: 1px solid gray;
}

.data__showed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px 0 0;
}

.border-top {
  border-top: grey 1px solid;
}

.button__close {
  position: relative;
  left: 120px;
  border: none;
}

.contact__showed * {
  padding-bottom: 15px;
}

.hide {
  display: none;
}

#img_showed {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  padding: 0;
}

/***************************** Media queries **********************************/

@media (min-width: 599px) {
  .table {
    grid-template-columns: 300px 300px;
  }

  .header {
    grid-column: 1 / span 2;
  }
}

@media (min-width: 1023px) {
  .table {
    grid-template-columns: 300px 300px 300px;
  }

  .header {
    grid-column: 1 / span 3;
  }

}
